* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
<<<<<<< HEAD
  width: 100vw;
  height: 100vh;  
  box-sizing: border-box;
=======
  background-color: #f6f8fc;
>>>>>>> 660a79fa1a47b6c1fec4072e7a6f03721977f8e7
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
